<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SocioBoardAccountEpiryMailSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <SocioBoardAccountEpiryMailSender.Properties.Settings>
      <setting name="SocioBoardAccountEpiryMailSender_Api_User_User"
        serializeAs="String">
        <value>http://localhost:6361/Services/User.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_AdminUserDetails_AdminUserDetails"
        serializeAs="String">
        <value>http://localhost:6361/Services/AdminUserDetails.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_TwitterAccount_TwitterAccount"
        serializeAs="String">
        <value>http://localhost:6361/Services/TwitterAccount.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_FacebookAccount_FacebookAccount"
        serializeAs="String">
        <value>http://localhost:6361/Services/FacebookAccount.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_InboxMessages_InboxMessages"
        serializeAs="String">
        <value>http://localhost:6361/Services/InboxMessages.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_TwitterDirectMessages_TwitterDirectMessages"
        serializeAs="String">
        <value>http://localhost:6361/Services/TwitterDirectMessages.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_GroupReports_GroupReports"
        serializeAs="String">
        <value>http://localhost:6361/Services/GroupReports.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_ScheduledMessage_ScheduledMessage"
        serializeAs="String">
        <value>http://localhost:6361/Services/ScheduledMessage.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_Team_Team"
        serializeAs="String">
        <value>http://localhost:6361/Services/Team.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_Groups_Groups"
        serializeAs="String">
        <value>http://localhost:6361/Services/Groups.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_TeamMemberProfile_TeamMemberProfile"
        serializeAs="String">
        <value>http://localhost:6361/Services/TeamMemberProfile.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_InstagramAccount_InstagramAccount"
        serializeAs="String">
        <value>http://localhost:6361/Services/InstagramAccount.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_FacebookReport_FacebookReport"
        serializeAs="String">
        <value>http://localhost:6361/Services/FacebookReport.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_FacebookGroupReport_FacebookGroupReport"
        serializeAs="String">
        <value>http://localhost:6361/Services/FacebookGroupReport.asmx</value>
      </setting>
      <setting name="SocioBoardAccountEpiryMailSender_Api_InstagramReports_InstagramReports"
        serializeAs="String">
        <value>http://localhost:6361/services/InstagramReports.asmx</value>
      </setting>
    </SocioBoardAccountEpiryMailSender.Properties.Settings>
  </applicationSettings>
</configuration>